<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
			<a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">HS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<ul class="nav nav-pills">
						{% if current_user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ url_for('teachers.teacher_courses_current') }}" role="button" aria-expanded="false"><i class="bi bi-shield-shaded"> </i></a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Available</a></li>
								<li><a class="dropdown-item" href="#">In Progress</a></li>
								<li><a class="dropdown-item" href="#">Completed</a></li>
								<li><a class="dropdown-item" href="#">Past Courses</a></li>
							</ul>
						</li>						
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.profile') }}"><i class="bi bi-patch-plus"></i></a></li>
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('quests.quests_maps') }}"><i class="bi bi-signpost-split"></i></a></li>
					{% endif %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('announcements.announcements_all') }}"><i class="bi bi-newspaper"></i></a></li>
					</ul>
				</div>
				<!-- Navbar Right Side -->
				<div class="navbar-nav">
					<ul class="nav nav-pills">
						{% if current_user.is_authenticated %}

						{% if current_user.has_role('student') %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.profile') }}">XP: {{ current_user.get_role_obj().get_xp() }} </a></li>
						{% endif %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.profile') }}"><i class="bi bi-person-circle"></i>&nbsp;{{ current_user.username}}</a></li>
						{% if current_user.has_role('student') %}
						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('main.ranks') }}">{{ current_user.get_role_obj().get_current_rank().symbol_html|safe }}</i></a></li>
						{% endif %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ url_for('teachers.teacher_courses_current') }}" role="button" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="#">Rank List</a></li>
								<li><a class="dropdown-item" href="#">FAQ</a></li>
								<li><a class="dropdown-item" href="https://www.surreyschools.ca/schools/sullivanheights/Pages/default.aspx" target="_blank">Sullivan Heights Site</a></li>
								<li><a class="dropdown-item" href="https://www.surreyschools.ca/schools/sullivanheights/NewsEvents/Newsletters/Documents/Bell%20Schedule%2021-22%20with%20Flex%20an%20d%20CSL.pdf" target="_blank">SHS Bell Schedule</a></li>
							</ul>
						</li>

						<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
						{% else %}
							<li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>