{% extends 'layout.html' %}
{% block content %}

<!--- Change this page at some point to pull the rank information from the database -->
<!-- Ranks needs to be created and stored in database-->
 
<div class="content-section">

    <h1 class="d-flex">
        <div class="flex-grow-1">Badges</div>
        <div class=""><i class="bi bi-tools"></i></div>
    </h1>
    

    <div class="card mb-2">
        <h5 class="card-header">Talents</h5>
        <div class="card-body">

            
        </div>
    </div>
    <div class="card mb-2">
        <h5 class="card-header">Achievements</h5>
        <div class="card-body">

            
        </div>
    </div>
    <div class="card mb-2">
        <h5 class="card-header">Awards</h5>
        <div class="card-body">

            
        </div>
    </div>
</div>

{% endblock %}
