{% extends 'layout.html' %}
{% block content %}

<div class="content-section">
  <ul class="nav nav-tabs flex-md-row flex-column">
    <li class="nav-item">
      <a class="nav-link disabled" href="">{{ course.title }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('courses.course_details', course_id=course.id) }}">Course Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('courses.course_activities', course_id=course.id) }}">Activity Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('courses.course_studentlist', course_id=course.id) }}">Student List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{{ url_for('courses.course_quest_submissions', course_id=course.id) }}">Review Submitted Quests</a>
    </li>
  </ul>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row">
            <div class="d-flex flex-fill justify-content-start">{{ course.title }} Details</div>
            <div class="d-flex">
              <a href="{{ url_for('courses.course_update', course_id=course.id) }}"><i class="bi bi-gear"></i></a>
            </div>
          </div>
        

        </div>
        <div class="card-body">
          <h5 class="card-title">Course Name</h5>
          <p class="card-text">{{ course.course_code }}: {{ course.title }}</p>
          <h5 class="card-title">Course Description</h5>
          <p class="card-text">{{ course.description }}</p>
          <p class="card-text">Grade: {{ course.grade }}</p>
          <p class="card-text">Block: {{ course.block }}</p>
          <p class="card-text">Term: {{ course.term }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div>Course Invite Code</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              {% if course.invite|length > 0 %}
                {{ course.invite}}
              {% else %}
                No Invite Code
              {% endif %}
            </div>
            <div class="col text-end">
              <a class="btn btn-sm btn-primary" href="{{ url_for('courses.course_generate_invite', course_id=course.id) }}">Generate Invite Code</a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>



</div>


{% endblock %}