{% extends 'layout.html' %}
{% block content %}

<div class="content-section">
  <ul class="nav nav-tabs flex-md-row flex-column">
    <li class="nav-item">
      <a class="nav-link disabled" href="">{{ course.title }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('courses.course_details', course_id=course.id) }}">Course Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('courses.course_activities', course_id=course.id) }}">Activity Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('courses.course_studentlist', course_id=course.id) }}">Student List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('courses.course_quest_submissions', course_id=course.id) }}">Review Submitted Quests</a>
    </li>
  </ul>


  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row">
            <div class="d-flex flex-fill justify-content-start">{{ course.title }} Activities</div>
            <div class="d-flex">
              <a href="{{ url_for('courses.course_update', course_id=course.id) }}"><i class="bi bi-gear"></i></a>
            </div>
          </div>
        

        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
                <th class="col col-1">ID</td>
                <th class="col">Activity</th>

                <th class="col col-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for activity in course.activities %}
              {% if course.primary_activity %}
                {% if activity == course.primary_activity %}
                <tr class="primary">
                {% else %}
                <tr >
                {% endif %}
              {% endif %}

                <td class="col col-1 setprimary" data-toggle="modal" data-id="{{ activity.id}}" style="cursor:pointer">{{ activity.id}}</a></td>
                <td class="col setprimary" data-toggle="modal" data-id="{{ activity.id}}" style="cursor:pointer">{{ activity.title }}</td>
                <td class="col"><a href="{{ url_for('courses.course_activity_remove', course_id=course.id, activity_id=activity.id) }}" class="btn btn-outline-danger btn-sm">Remove</a></td>
            </tr>
            {% endfor %}
            <tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="col">
      <input type="text" name="activity_search_text" id="activity_search_text" class="form-control" placeholder="Search activities by name">

      <form method="POST" action="{{ url_for('courses.course_activity_add', course_id=course.id) }}">
        <div id="result">
          <table  id="results_table" class="table table-stripped">
            <thead>
              <tr>
                <th class="col col-1"></th>
                <th class="col col-1">ID</td>
                <th class="col">Activity</th>
              </tr>
            </thead>
            <tbody id="results_table_body">
            <tbody>
          </table>
        <input class="mt-1" type="submit" value="Add Quest(s)">
      </form>
    </div>
  </div>
</div>
<div class="modal" id="confirmModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comfirm: Primary Quest</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to set this activity as the primary activity for this course</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('courses.course_set_primary_activity', course_id=course.id) }}" id="set_primary_form" method="POST">
          <input type="hidden" id="set_primary" name="set_primary" value="">
          <input class="btn btn-primary" type="submit" value="Set Primary">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    const load_quest_data = function(query) {
      $.ajax({
        url: "{{url_for('activities.activity_live_search')}}",
        method: "POST",
        data: {query:query},
        success: function(data) {
          $('#results_table_body').empty();
          $.each(data, function(i, item) {
                    let tr=$('<tr></tr>');
                    let td = $('<td class="col col-1"></td>')
                      .appendTo(tr)
                    let input = $('<input/>')
                      .attr('type', 'checkbox')
                      .attr('id', "quest"+item.id)
                      .attr('name', item.id)
                      .appendTo(td)
                    tr.append($('<td class="col col-1"></td>').text(item.id));
                    tr.append($('<td class="col"></td>').text(item.title));                        
                    $('#results_table_body').append(tr);
          });
        }
      });
    }


    $("#activity_search_text").keyup(function() {
      var search = $(this).val();
      if(search != '') {
        load_quest_data(search);
      }
      else {
        $('#results_table_body').html("")
      }
    });

    $(".setprimary").click(function(){ // Click to only happen on announce links
      $("#set_primary").attr('value', $(this).data('id'));
      $('#confirmModal').modal('show');
    });


  });


</script>



{% endblock %}