{% extends 'layout.html' %}
{% block content %}

<!--- Change this page at some point to pull the rank information from the database -->
<!-- Ranks needs to be created and stored in database-->
 
<div class="content-section">

    <h1 class="d-flex">
        <div class="flex-grow-1">Ranks</div>
        <div class=""><i class="bi bi-tools"></i></div>
    </h1>
        <div class="col-6">

        <table class="table table-striped">

            <tr>
                <th></th><th>Rank</th><th>XP</th><th>Quest Map</th>
            </tr>
            {% for rank in ranks %}
            <tr>
                <td>{{ rank.symbol_html|safe }}</i></td><td>{{ rank.name }}</td><td>{{ rank.xp }} XP</td><td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
