{% extends 'layout.html' %}
{% block content %}

<!--- Change this page at some point to pull the rank information from the database -->
<!-- Ranks needs to be created and stored in database-->
 
<div class="content-section">

    <h1 class="d-flex">
        <div class="flex-grow-1">Ranks</div>
        <div class=""><i class="bi bi-tools"></i></div>
    </h1>
        <div class="col-6">

        <table class="table table-striped">
            <tr>
                <th></th><th>Rank</th><th>XP</th><th>Quest Map</th>
            </tr>
            <tr>
                <td><i class="bi bi-circle"></i></td><td>Digital Noob</td><td>0 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-chevron-up"></i></td><td>Digital Novice</td><td>60 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-chevron-double-up"></i></td><td>Digital Novice II</td><td>125 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-chevron-expand"></i></td><td>Digital Amateur</td><td>185 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-chevron-bar-expand"></i></td><td>Digital Amateur II</td><td>250 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-star"></i></td><td>Digital Apprentice</td><td>310 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-star-fill"></i></td><td>Digital Apprentice II</td><td>375 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-journal"></i></td><td>Digital Journeyman</td><td>495 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-journal-bookmark"></i></td><td>Digital Journeyman II</td><td>595 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-journals"></i></td><td>Digital Journeyman III</td><td>665 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-screwdriver"></i></td><td>Digital Crafter</td><td>725 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-wrench"></i></td><td>Expert Digital Crafter</td><td>855 XP</td><td></td>
            </tr>
            <tr>
                <td><i class="bi bi-tools"></i></td><td>Master Digital Crafter</td><td>1000 XP</td><td></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
