{% extends 'layout.html' %}
{% block content %}

{% for post in posts.items %}
		<div class="card mb-2">
			<div class="card-body">
				<h5 class="card-title"><a class="nav-link" href="{{ url_for('announcements_bp.announcement', announcement_id=post.id)}}">{{ post.title }}</a></h6>
				<p class="card-text">{{ post.content }}</5>
			</div>
		</div>
	{% endfor %}
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
				<a class="btn btn-info md-4" href="{{ url_for('main_bp.home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info md-4" href="{{ url_for('main_bp.home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}

{% endblock %}
