{% extends 'layout.html' %}
{% block content %}

<article class="media content-section">
		<div class="row mb-2">
			<div class="col col-lg-8">
				<div class="card">
					<div class='card-header'>
						<h6 class="card-title">
							Quest Info
						</h6>
					</div>
					<div class="card-body">
						<h2>{{ submission.quest.title }}</h2>
						<p class="card-text">
							{{ submission.quest.description|safe }}
						</p>
					</div>			
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class='card-header'>
						<h6 class="card-title">
							Stats
						</h6>
					</div>
					<div class="card-body">
						<p class="card-text">
							<ul>
								<li>XP: {{ submission.quest.xp }}</li>
								<li>Campaign: -</li>
								<li>Expiry: {{ submission.quest.expiry }}</li>
								<li>Repeatable: {{ submission.quest.repeatable }}</li>
								<li>Requirements: None</li>
							</ul>
						</p>
					</div>			
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Quest Details
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						{{ submission.quest.details|safe }}
					</p>
				</div>			
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Submission Instructions
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						{{ submission.quest.submission_instructions|safe }}
					</p>
				</div>			
			</div>
		</div>
		</div>
        <div class="row">
			<div class="col">
				<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Submission Log
					</h6>
				</div>
				<div class="card-body">
					<div class="card-text">
					<ul class="list-group">
						{% for log in submission.submission_logs %}
							<li class="list-group-item d-flex justify-content-between align-items-start {{ log.category }} ">
							<div class="ms-2 me-auto">
								<div>{{ log.content|safe }}</div>
							</div>
							<span class="badge bg-danger">
								<a data-toggle="modal" class="btn btn-sm"
									id="{{ log.id }}" value="Delete"
									data-target="#deleteModal"
									onclick="aTestFunction(this)">Remove</a>            
								</a>
							</span>
						</li>
						{% endfor %}
					</ul>
					</div>
				</div>			
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Attached Files
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						
					</p>
				</div>			
			</div>
		</div>
		</div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
			<div class="row">
				<div class="col">
				<div class="card">
					<div class='card-header'>
						<h6 class="card-title">
							Submission Feedback Form
						</h6>
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ form.awarded_xp.label(class="form-control-label") }}
							{% if form.awarded_xp.errors %}
								{{ form.awarded_xp(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.awarded_xp.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.awarded_xp(class="form-control form-control-lg") }}
							{% endif %}			
						</p>
					</div>	
					<div class="card-body">
						<p class="card-text">
							{{ form.feedback_category.label(class="form-control-label") }}
							{% if form.feedback_category.errors %}
								{{ form.feedback_category(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.feedback_category.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.feedback_category(class="form-control form-control-lg") }}
							{% endif %}			
						</p>
					</div>	
					<div class="card-body">
						<p class="card-text">
							{% if form.feedback_text.errors %}
								{{ form.feedback_text(class="is-invalid", id="feedbackText") }}
								<div class="invalid-feedback">
									{% for error in form.feedback_text.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.feedback_text(class="", id="feedbackText") }}
							{% endif %}						
						</p>
					</div>	
					
					
				</div>
			</div>
			</div>
			<div>
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</fieldset>
		</form>

	<!-- Modal -->
<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirm: You Want to remove this feedback</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<form action="{{ url_for('quests.feedback_remove', submission_id=submission.id) }}" method="post">
					<input type="hidden" id="hidden_input" name="hidden_input">
					<input class="btn btn-danger" type="submit" value="Delete">
				</form>
				</div>
			</div>
			</div>
		</div>

	<script>
		$(document).ready(function() {
			$('#feedbackText').summernote({
				height: 250,

			});
		});
		function aTestFunction(obj){
			let valuefromID = obj.id;
			$('#hidden_input').val(valuefromID);
		}
	</script>

{% endblock %}
