{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="form-group">
				{{ form.title.label(class="form-control-label") }}
				{% if form.title.errors %}
					{{ form.title(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.title.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.title(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			
			<div class="form-group">
				{{ form.description.label(class="form-control-label") }}
				{% if form.description.errors %}
					{{ form.description(class="", id="description") }}
					<div class="invalid-feedback">
						{% for error in form.description.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.description(class="", id="description") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.xp.label(class="form-control-label") }}
				{% if form.xp.errors %}
					{{ form.xp(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.xp.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.xp(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.campaign.label(class="form-control-label") }}
				<div>
					<input class="form-control form-control-lg mb-1" id="campaign_search" placeholder="Start Typing Here to Seach Campaigns">
				</div>

				{% if form.campaign.errors %}
					{{ form.campaign(class="form-control form-control-lg is-invalid", id="campaign_select") }}
					<div class="invalid-feedback">
						{% for error in form.campaign.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.campaign(class="form-control form-control-lg", id="campaign_select") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.expiry.label(class="form-control-label") }}
				{% if form.expiry.errors %}
					{{ form.expiry(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.expiry.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.expiry(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.repeatable.label(class="form-control-label") }}
				{% if form.repeatable.errors %}
					{{ form.repeatable(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.repeatable.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.repeatable(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.details.label(class="form-control-label") }}
				{% if form.details.errors %}
					{{ form.details(class="",id="details") }}
					<div class="invalid-feedback">
						{% for error in form.details.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.details(class="",id="details") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.submission_instructions.label(class="form-control-label") }}
				{% if form.submission_instructions.errors %}
					{{ form.submission_instructions(class="",id="submission_instructions") }}
					<div class="invalid-feedback">
						{% for error in form.submission_instructions.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.submission_instructions(class="",id="submission_instructions") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
<script>
	$(document).ready(function() {
		$('#description').summernote({
			height: 100,
		});
		$('#details').summernote({
			height: 300,
		});
		$('#submission_instructions').summernote({
			height: 300,
		});

		const load_data = function(query) {
			$.ajax({
				url: "{{url_for('campaigns.campaigns_search', limit=10)}}",
				method: "POST",
				data: {query:query},
				success: function(data) {
					$('#campaign_select').empty();
					console.log(data.length)
					if(data.length) {
						$.each(data, function(i, item) {
							let option = $("<option></option>")
							option.attr("value", item.id)
							option.text(item.name)
							$('#campaign_select').append(option)
						});
					}
					else {
						let option = $("<option disabled></option>")
						option.text("No Search Results")
						$('#campaign_select').append(option)
					}
				}
			});
		}

		$("#campaign_search").keyup(function() {
			let search_str = $(this).val();
			if(search_str != '') {
				load_data(search_str);
			}
			else {
				$('#campaign_select').html("")
			}
		});
	});	
</script>

{% endblock %}
