{% extends 'layout.html' %}
{% block content %}


<div class="content-section">


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Campaign Id</td>
            <th scope="col">Campaign Name</th>
        </tr>
        </thead>
        <tbody>
		{% for quest in quests.items %}
        <tr  onClick="window.location.assign('{{ url_for('quests.quest', quest_id=quest.id)}}')">
            <td scope="col">{{ quest.id}}</a></td>
            <td scope="col">{{ quest.title }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
	{% for page_num in quests.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if quests.page == page_num %}
				<a class="btn btn-info md-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info md-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
</div>


{% endblock %}
