{% extends 'layout.html' %}
{% block content %}

{% for quest in quests.items %}
		<article class="media content-section">
			CL
			<div class="media-body">
				<h4><a class="article-title" href="{{ url_for('quests.quest', quest_id=quest.id)}}">{{ quest.title }}</a></h4>
			</div>
		</article>
	{% endfor %}
	{% for page_num in quests.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if quests.page == page_num %}
				<a class="btn btn-info md-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info md-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}

{% endblock %}
