{% extends 'layout.html' %}
{% block content %}

<article class="media content-section">
	<div class="row mb-1">
		<div class="col col-lg-8">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Quest Info
					</h6>
				</div>
				<div class="card-body">
					
					<p class="card-text">
						{{ submission.quest.description|safe }}
					</p>
				</div>			
			</div>
		</div>
		<div class="col-sm">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
					Stats
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						<ul>
							<li>XP: {{ submission.quest.xp }}</li>
							<li>Campaign: -</li>
							<li>Expiry: {{ submission.quest.expiry }}</li>
							<li>Repeatable: {{ submission.quest.repeatable }}</li>
							<li>Requirements: None</li>
						</ul>
					</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row mb-1">
		<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Quest Details
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						{{ submission.quest.details|safe }}
					</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row mb-1">
		<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Submission Instructions
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						{{ submission.quest.submission_instructions|safe }}
					</p>
				</div>			
			</div>
		</div>
	</div>
	<div class="row mb-1">
		<div class="col">
			<div class="card">
				<div class='card-header'>
					<h6 class="card-title">
						Past Submissions and Feedback
					</h6>
				</div>
				<div class="card-body">
					<p class="card-text">
						<ul class="list-group">
							{% for log in submission.submission_logs %}
							<li class="list-group-item d-flex justify-content-between align-items-start {{ log.category }} ">
								<div class="ms-2 me-auto">
									<div>{{ log.content|safe }}</div>
								</div>
								<div class="badge bg-light text-dark">{{log.user.firstname}} {{log.user.lastname}} | {{log.date_posted|datetimeformat}}</div>
							</li>
							{% endfor %}
						</ul>						
					</p>
				</div>			
			</div>
		</div>
	</div>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<div class="row mb-1">
				<div class="col">
					<div class="card">
						<div class='card-header'>
							<h6 class="card-title">
								Submission Form
							</h6>
						</div>
						<div class="card-body">
							<p class="card-text">
								{% if form.submission_text.errors %}
									{{ form.submission_text(class="is-invalid", id="submission_text") }}
									<div class="invalid-feedback">
										{% for error in form.submission_text.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.submission_text(class="", id="submission_text") }}
								{% endif %}						
							</p>
							</div>	
						<div class="card-body">
							<p class="card-text">
								Attach files
							</p>
						</div>	
					</div>
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					{{ form.save(class="btn btn-primary btn-sm") }}
					{{ form.submit(class="btn btn-primary btn-sm") }}
					<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
						Drop Quest
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Confirm: You Want to drop this quest</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
			<a class="btn btn-danger btn-sm" href="{{ url_for('quests.quest_submission_drop', submission_id=submission.id) }}">Drop</a>
		</div>
	</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#submission_text').summernote({
			height: 300,

		});
	});
</script>
{% endblock %}
