{% extends 'layout.html' %}
{% block content %}
<h2 class="mb-3">Announcements by {{ user.username }} ({{ announcements.total }})</h2>
{% for announcement in announcements.items %}
		<article class="media content-section">
			<image class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + announcement.announcement_author.avatar_file) }}"></image>
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="{{ url_for('users.user_announcements', username=announcement.announcement_author.username) }}">{{ announcement.announcement_author.username }}</a>
					<small class="text-muted">{{ announcement.date_posted.strftime('%d-%M-%Y') }}</small>
				</div>
				<h2><a class="article-title" href="{{ url_for('announcements.announcement', announcement_id=announcement.id)}}">{{ announcement.title }}</a></h2>
				<p class="article-content">{{ announcement.content }}</p>
			</div>
		</article>
	{% endfor %}
	{% for page_num in announcements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if announcements.page == page_num %}
				<a class="btn btn-info md-4" href="{{ url_for('users.user_announcements', username=user.username, page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info md-4" href="{{ url_for('users.user_announcements', username=user.username, page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}

{% endblock %}
