body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
}
h1, h2, h3, h4, h5, h6 {
	color: #444444;
}
.bg-steel {
	background-color: #5f788a;
}

.bg-teal {
	background-color: #009999;
}


.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}


/* This was added to solve the justification of the menu bar */
#navbarToggle {
	justify-content: space-between;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
	vertical-align: top;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: top;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.profile-img {
	height: 225px;
	width: 225px;
	
}

.account-heading {
	font-size: 2.5rem;
}

.media-body {
	display: inline-block;
}

.table-hover tr:hover {
	background:#B0B3B8;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.col-align-right {
	text-align: end; 
}
blockquote {
	font-style: italic;
	border-left: 2px solid #5f788a;
	padding-left: 5px;
}

.primary {
	font-weight: bold;
}

.logo_thumb {
	height: 50px;
	width: 50px;
}

.submission-post {
	background-color: rgba(248, 249, 250, 0.2);
}

.feedback-info {
	background-color: rgba(23, 162, 184, 0.2);
}

.feedback-success {
	background-color: rgba(40, 167, 69, 0.2);
}

.feedback-warning {
	background-color: rgba(255, 193, 7, 0.2);
}

.feedback-danger {
	background-color: rgba(220, 53, 69, 0.2);
}
